body {
    background-color: lightblue;
    font-family : Arial;
}

.app_title {
	font-size: 24px;
}

.app_description {
	font-size: 14px;
	color: gray;
}

.tab_title {
	color:red;
	font-weight: bold;
}

.tab_item {
	font-style:italic;
}

.menuitem {
	color:blue;
	font-weight: bold;
}