<html>
				<head>
					<link rel="stylesheet" type="text/css" href="/static/style.css">
					<link rel="icon" type="image/png" href="static/favicon.png">	
				</head>
				<body>
					{% include 'header.html'%}
					
					<form method=POST action="savefile">
					
					<b>Config File Version </b> : {{conf_tab[0]}} </br>

					<dl>

						{% for tabs in conf_tab[1] %}
							{% for tab_title in tabs %}
								<dt class="tab_title">{{tab_title}}
								{%for items in tabs[tab_title]%}
									<dd class="tab_item"> {{items['title']}}: 
										{% if items['type'] == "checkbox"%}
											
											{% set check_str=""%}
											{%if items['value'] == '1'%}
												{%set check_str="checked"%}
											{%endif%}
											<input type="hidden" name="{{items['name']}}" value="{{items['value']}}"><input type="checkbox" onclick="this.previousSibling.value=1-this.previousSibling.value" {{check_str}}>
										{%else%}
										<input type="{{items['type']}}" value="{{items['value']}}" style="width:{{items['size']}}px" name="{{items['name']}}">
										{%endif%}
								{%endfor%}
							{%endfor%}

						<dt><b>	{{tab}}</b>
						{% endfor %}
					</dl>
					<input type=hidden name="new_version" value="{{new_version}}">
					<input type=submit value="Save As ...">
					<input type=text value='config_{{new_version}}.xml' name='file_name'>
					</form>

				</body>
<html>